*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEFAULT VALUES */
html{
    scroll-behavior: smooth;
}
body{
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
    overflow-x: hidden;
    position: relative;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
button{
    border: 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER AND NAV  */
.header{
    height: 90vh;
}
.navbar{
    padding: 2rem 3rem;
    border-top-left-radius: 15px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.468);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: transparent;
    transition: all 0.8s ease-in-out;
}
.navbar__menu{
    column-gap: 4rem;
}
.navbar__logo a{
    font-size: 1.4rem;
    font-family: 'lora', sans-serif;
}
.navbar__menu--items{
    text-align: center;
    padding: 0.7rem;
    border-radius: 10px;
    transition: all .5s;
    position: relative;
    cursor: pointer;
}
.navbar__menu--items .item{
    transition: all 0.33s;
}
.navbar__submenu{
    position: absolute;
    row-gap: 1.1rem;
    padding: 8px;
    background-color: rgb(142, 130, 100);
    top: 100px;
    right: 0;
    opacity: 0;
    filter: blur(2px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.navbar__menu--subitems{
    background-color: antiquewhite;
    border-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}
.navbar__menu--subitems a{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0.7rem;
}
.navbar__menu--subitems:hover{
    transform: scale(1.07);
}
.navbar__menu--items:hover .item{
    color: aliceblue;
}
.navbar__menu--items:hover{
    background-color: rgb(142, 130, 100);
}
.navbar__submenu:hover{
    transform: scale(1.1);
}
.navbar__submenu:hover .navbar__menu--items .item{
    background-color: rgb(142, 130, 100);
}
.header__menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10rem;
    margin: auto;
}
.header__image{
    width: 550px;
    position: absolute;
    pointer-events: none;
}
.header__title{
    font-size: 8rem;
    letter-spacing: 1.5rem;
    font-family: 'lora', sans-serif;
    font-weight: 900;
    text-align: center;
    z-index: 1000;
    filter: blur(0.6px);
    color: rgba(0, 0, 0, 0.76);
}

/* JAVASCRIPT */
.show{
    position: absolute;
    right: 500px;
    filter: blur(0);
    opacity: 1;
}
.active{
    background-color: rgb(142, 130, 100);
}
.active .item{
    color: aliceblue;
}

@media screen and (max-width : 900px){
    .navbar{
        padding: 2rem 0.75rem;
    }
    .navbar__menu{
        column-gap: 1.5rem;
    }
    .navbar__menu--items{
        padding: 0.3rem;
    }
    .navbar__logo a,
    .item{
        font-size: 1rem;
    }

    .header__image{
        width: 450px;
    }
    .header__title{
        font-size: 4.7rem;
        letter-spacing: 1.2rem;
    }

}